@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Clicker+Script&family=Poppins:wght@100;200;300;400;500;600;700&display=swap');
html{
    scroll-behavior: smooth;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
}
body{
    background-color: #F5F5FD;
    max-width: 100%;
}
/*----------------------Side Bar--------------------*/
.sidebar{
    width: 20%; 
    height: 100vh;
    padding-top: 3%;
    position: fixed;
    background-color: white;
}
.sidebar .content{
    
    margin-top: 50%;
}
.sidebar .content ul li{
    margin-top: 20px;
    list-style: none;
    width: 200px;
}
.sidebar .content ul li a{
    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
    padding-left: 40px;
}

.sidebar .content ul li a:hover, a:active{
    border-left: 5px solid red;
    color: red;
}

/*----------------------body content--------------*/
.container{
    margin-left: 22%;
}
#home{
    padding-top: 15.5%;
    height: 100vh;
}


#home h1{
    color: black;
}
#announce{
    padding-top: 14%;
    height: 100vh;

}
#about{
    padding-top: -20px;
    height: 180vh;
    justify-content: center;
    display: flex;
}
.conImage{
    margin-top: 160px;
}
.conImage img {
    width:520px;
    justify-content: center;
    
}
#contact{
    background-color: rgb(255, 250, 250);
    height: 100vh;
    padding-top: 10rem;
    
}

#contact h1{
    color: black;
}

@media only screen and (max-width: 600px) {
    .sidebar {
      
    }
  }








  /*----------------------footer--------------*/

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #670c0c;
    color: #fff;
    text-align: center;
    padding: 5px;
    bottom: 0;
    width: 100%;
}

.footerLogo {
    width: 50px; /* Set the width of your logo */
    height: auto; /* Maintain aspect ratio */
    margin-right: 10px; /* Adjust the spacing between the logo and the text */
}






